#filter-tab ul {
  margin: 0 0 0 30px;
}
#filter-tab label .ctrl-wrap {
  display: inline-block;
  margin: 0 8px 0 30px;
}
#filter-tab label.auto {
  display: block;
  padding: 5px 0;
}
#filter-tab .helpText {
  margin-left: 30px;
}